body {
  margin: 0;
  font-family: Arial;
  background: white;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* القائمة */
.sidebar {
  width: 220px;
  background: #0a7fa4;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li, .sidebar a {
  padding: 10px;
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sidebar li:hover {
  background: #08607a;
}

/* المحتوى */
.content {
  flex: 1;
  padding: 15px;
}

/* المنتجات */
.product {
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}

/* الأدمن */
.admin {
  max-width: 400px;
  margin: 50px auto;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* الأزرار */
button {
  background: #0a7fa4;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* ========== موبايل ========== */
@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sidebar ul {
    display: flex;
    gap: 10px;
  }

  .sidebar h2 {
    display: none;
  }
}